body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eaeaea;
}

header h1 {
    text-align: center;
    color: #444;
    margin-top: 0;
}

section#education {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section#education h2 {
    margin-top: 0;
    color: #333;
}

section#experience {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #444;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
