body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eaeaea;
}

header h1 {
    text-align: center;
    color: #444;
    margin-top: 0;
}

section#education {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section#education h2 {
    margin-top: 0;
    color: #333;
}

section#experience {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #444;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

img {
    max-width: 100%; /* 使圖片不超過其容器的寬度 */
    height: auto; /* 自動調整高度以保持比例 */
    display: block; /* 使圖片顯示為區塊元素，避免底部有空隙 */
    margin: 10px 0; /* 增加上下邊距，讓圖片之間有間隔 */
}

.image-container {
    max-width: 600px; /* 設定容器的最大寬度 */
    margin: 0 auto; /* 使容器居中 */
}
